fastapi==0.111.0
uvicorn[standard]==0.29.0
pandas==2.2.2
pyarrow==16.0.0
azure-storage-blob==12.19.1
azure-identity==1.16.0
azure-mgmt-resource==23.1.1
azure-mgmt-compute==31.0.0
azure-mgmt-storage==21.1.0
python-dotenv==1.0.1
jinja2==3.1.4
